useDynLib(moltenNMF, .registration=TRUE)
importFrom(Rcpp, evalCpp)
S3method(mNMF_vb,formula,mNMF_vb.formula)
S3method(mNMF_vb,default,mNMF_vb.default)
S3method(mrNMF_vb,formula,mrNMF_vb.formula)
S3method(mrNMF_vb,default,mrNMF_vb.default)
S3method(prod_mNMF,formula,prod_mNMF.formula)
S3method(prod_mNMF,default,prod_mNMF.default)
export("mNMF_vb")
export("mNMF_vb.default")
export("mNMF_vb.formula")
export("mrNMF_vb")
export("mrNMF_vb.default")
export("mrNMF_vb.formula")
export("prod_mNMF")
export("prod_mNMF.formula")
export("prod_mNMF.default")
export("sparse_model_matrix_b")
