useDynLib(moltenNMF, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(Matrix)
S3method(mNMF_vb,formula,mNMF_vb.formula)
S3method(mNMF_vb,default,mNMF_vb.default)
S3method(mrNMF_vb,formula,mrNMF_vb.formula)
S3method(mrNMF_vb,default,mrNMF_vb.default)
S3method(product_m,formula,product_m.formula)
S3method(product_m,default,product_m.default)
S3method(xprob_mNMF,formula,xprob_mNMF.formula)
S3method(xprob_mNMF,default,xprob_mNMF.default)
export("mNMF_vb")
export("mNMF_vb.default")
export("mNMF_vb.formula")
export("mrNMF_vb")
export("mrNMF_vb.default")
export("mrNMF_vb.formula")
export("xprob_mNMF")
export("xprob_mNMF.default")
export("xprob_mNMF.formula")
export("product_m")
export("product_m.formula")
export("product_m.default")
export("sparse_onehot")
export("rpredictor_mNMF")
export("rpredictor_mrNMF")
