useDynLib(moltenPPCA, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export("mPPCA_vb")
export("mPPCA_vb.formula")
export("mPPCA_vb.dafault")
export("mPPCA_Gibbs")
export("mPPCA_Gibbs.formula")
export("mPPCA_Gibbs.dafault")
export("prod_mPPCA")
export("prod_mPPCA.formula")
export("prod_mPPCA.dafault")
export("sparse_model_matrix_b")
